/* 
Things to do (delete comments after completion)
1. In main .content, add an "Add Task" button aligned with the h1 - DONE
2. In main .content, fix the spacing between the to-dos - DONE
3. In main .content, use modified checkbox design (refer to w3schools sample) - DONE
4. Complete nav .profile, add placeholder photo - DEFERRED/FOR IMPROVEMENT
5. Add searchbar (refer to w3schools sample for styling) - DEFERRED 
6. Add header icons - DEFERRED 
7. Add placeholder logo in header - DONE/FOR IMPROVEMENT
8. Replace nav li content with <button> - DONE
9. Setup javascript (refer to index.js comments) 
*/

body {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

ul li {
    list-style-type: none;
}

header, main .side {
    background-color: #FFFFFFFF;
}

header {
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 1fr;
    padding: 12px;
}

    header .logo {
        text-align: center;
    }

main {
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    height: 100%;
}

    main .side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        main .side nav ul {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 24px;
            
        }

        main .side nav li {
            display: flex;
            align-items: start;
            gap: 24px;
        }

            main .side nav li button {
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                gap: 12px;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
            }

            main .side nav li svg {
                height: 20px;
                width: auto;
            }

    main .content {
        display: flex;
        flex-direction: column;
        padding: 0px 24px 24px 24px;
        background-color: #F9F9FA;
    }

        .content .content-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            main .content-header h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 32px;
                font-weight: 700;
                line-height: 48px;
                color: #323743FF;
            }

            main .content-header button, main nav button  {
                font-family: 'Inter', sans-serif;
                font-size: 24px;
                color: #2f4f2f;
                display: flex;
                gap: 12px;
                font-size: 24px;
                border: none;
                background-color: transparent;
            }
        
            main .content-header button svg {
                width: 30px;
            }

        .content .container {
            border: 3px dashed #DEE1E6FF;
            height: 100%;
        }

            .container table {
                border-collapse: collapse;
                text-align: center;
            }

                .container table td, .container table th{
                    padding: 12px 36px;
                }

